<div class="card border border-primary shadow-0 ">
  <div class="card-body mx-3">
    <form class="selector-section" [formGroup]="settings" (ngSubmit)="onSubmit()">
      <h5 class="card-title">Settings</h5>
      <mdb-form-control class="mb-4">
        <input mdbValidate mdbInput type="number" id="noOfDigits" class="form-control" required formControlName="noOfDigits" />
        <label class="form-label" for="noOfDigits">Number of digits</label>
        <mdb-error *ngIf="noOfDigits?.invalid && (noOfDigits?.dirty || noOfDigits?.touched)">Number of digits is required</mdb-error>
        <mdb-success *ngIf="noOfDigits?.valid && (noOfDigits?.dirty || noOfDigits?.touched)"></mdb-success>
      </mdb-form-control>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="lettersCheck" formControlName="lettersCheck" />
        <label class="form-check-label" for="lettersCheck">Letters</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="digitsCheck" formControlName="digitsCheck"/>
        <label class="form-check-label" for="digitsCheck">Digits</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="specialSignsCheck" formControlName="specialSignsCheck"/>
        <label class="form-check-label" for="specialSignsCheck">Special signs</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="wordsCheck" disabled/>
        <label class="form-check-label" for="wordsCheck">Words</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="allCheck" formControlName="allCheck"/>
        <label class="form-check-label" for="allCheck">Select all options</label>
      </div>
      <button type="submit" class="btn btn-primary mt-2">Generate passwords</button>

    </form>
  </div>
</div>
